<div class="column-page">
  <div
    cdkDropListGroup
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    class="example-list column-container"
  >
    <app-column
      cdkDropList
      cdkDrag
      class="example-box"
      *ngFor="let column of service.columns"
      [column]="column"
      [curTask]="curTask"
      [currentTaskFromEdit]="currentTaskFromEdit"
      (curColumn)="sentData($event)"
      (currentTask)="sentTaskToEdit($event)"
    ></app-column>
  </div>
  <mat-card class="column-add" (click)="this.service.isCreateColumn = true">
    <mat-icon>add</mat-icon>
    <mat-card-content> Добавить </mat-card-content>
  </mat-card>
</div>
<app-create-column-form></app-create-column-form>
<app-create-task-form (curTask)="sendTaskToColumn($event)" [curColumn]="curColumn"></app-create-task-form>
<app-edit-task-form (editTaskFromEdit)="editTaskFromEdit($event)" [task]="currentTask"></app-edit-task-form>
