<div class="column-page">
  <div class="column-container" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <app-column class="example-box" *ngFor="let column of service.columns" cdkDrag>{{column}}</app-column>
  </div>
  <mat-card class="column-add" (click)="this.service.isCreateColumn = true">
    <mat-icon>add</mat-icon>
    <mat-card-content> Добавить </mat-card-content>
  </mat-card>
</div>
<app-create-column-form></app-create-column-form>
<app-edit-column-form></app-edit-column-form>
