<div class="form-container" *ngIf="service.isDeleteForm">
  <div class="form-body">
    <h2 class="form-title">{{ "board.delete" | translate }}</h2>

    <div class="btn-container">
      <button
        class="form-btn"
        type="reset"
        mat-stroked-button
        color="primary"
        (click)="service.isDeleteForm = false"
      >
      {{ "board.cancel-btn" | translate }}
      </button>
      <button (click)="checkDelete()" class="form-btn" mat-stroked-button color="warn">
        {{ "board.delete-btn" | translate }}
      </button>
    </div>
  </div>
</div>
