<div class="signup-container">
  <form class="signup-body" [formGroup]="form" (ngSubmit)="signUp(form)">
    <h2 class="signup-title">{{ 'signup.title' | translate }}</h2>

    <mat-form-field class="name-field" appearance="fill">
      <mat-label>{{ 'signup.name' | translate }}</mat-label>
      <input matInput formControlName="name" autocomplete="off" />
      <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        <small *ngIf="(form.get('name')?.errors)!['required']">{{ 'signup.req-name' | translate }}</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-field" appearance="fill">
      <mat-label>{{ 'signup.login' | translate }}</mat-label>
      <input matInput formControlName="login" autocomplete="off" />
      <mat-error *ngIf="form.get('login')?.touched && form.get('login')?.invalid">
        <small *ngIf="(form.get('login')?.errors)!['required']">{{ 'signup.req-login' | translate }}</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-field" appearance="fill">
      <mat-label>{{ 'signup.pass' | translate }}</mat-label>
      <input
        #pass
        readonly
        onfocus="removeAttribute('readonly')"
        matInput
        formControlName="password"
        [type]="hidePass ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePass = !hidePass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass"
      >
        <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small *ngIf="(form.get('password')?.errors)!['required']">{{ 'signup.req-pass' | translate }}</small>
        <small
          *ngIf="
            (form.get('password')?.errors)!['minlength'] &&
            !(form.get('password')?.errors)!['required']
          "
          >{{ 'signup.min-pass' | translate }}</small
        >
        <small
          *ngIf="
            (form.get('password')?.errors)!['mixtureCase'] &&
            !(form.get('password')?.errors)!['required']
          "
          >{{ 'signup.multi-pass' | translate }}</small
        >
        <small *ngIf="(form.get('password')?.errors)!['mixtureNum']"
          >{{ 'signup.num-pass' | translate }}</small
        >
        <small *ngIf="(form.get('password')?.errors)!['inclusionSymbol']"
          >{{ 'signup.spec-pass' | translate }}</small
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-field" appearance="fill">
      <mat-label>{{ 'signup.confirm' | translate }}</mat-label>
      <input
        #confirmPass
        readonly
        onfocus="removeAttribute('readonly')"
        matInput
        formControlName="confirmpassword"
        [type]="hideConfirmPass ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPass = !hideConfirmPass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPass"
      >
        <mat-icon>{{ hideConfirmPass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="form.get('confirmpassword')?.touched && form.get('confirmpassword')?.invalid"
      >
        <small *ngIf="(form.get('confirmpassword')?.errors)!['required']"
          >{{ 'signup.pass' | translate }}</small
        >
        <small
          *ngIf="
            (form.get('confirmpassword')?.errors)!['confirm'] &&
            !(form.get('confirmpassword')?.errors)!['required']
          "
          >{{ 'signup.not' | translate }}</small
        >
      </mat-error>
    </mat-form-field>
    <button
      class="signup-btn"
      type="submit"
      [disabled]="form.invalid"
      mat-stroked-button
      color="primary"
    >
    {{ 'signup.btn' | translate }}
    </button>
  </form>
</div>
