<div class="signup-container">
  <form class="signup-body" [formGroup]="form">
    <h2 class="signup-title">Sign Up</h2>

    <mat-form-field class="name-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" autocomplete="off" />
      <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        <small *ngIf="(form.get('name')?.errors)!['required']">Please enter your name</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Log in</mat-label>
      <input matInput formControlName="login" autocomplete="off" />
      <mat-error *ngIf="form.get('login')?.touched && form.get('login')?.invalid">
        <small *ngIf="(form.get('login')?.errors)!['required']">Please enter a login</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        #pass
        readonly
        onfocus="removeAttribute('readonly')"
        matInput
        formControlName="password"
        [type]="hidePass ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePass = !hidePass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass"
      >
        <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small *ngIf="(form.get('password')?.errors)!['required']">Please enter a password</small>
        <small
          *ngIf="
            (form.get('password')?.errors)!['minlength'] &&
            !(form.get('password')?.errors)!['required']
          "
          >Your password isn't strong enough: at least 8 characters</small
        >
        <small
          *ngIf="
            (form.get('password')?.errors)!['mixtureCase'] &&
            !(form.get('password')?.errors)!['required']
          "
          >Your password isn't strong enough:a mixture of both uppercase and lowercase
          letters</small
        >
        <small *ngIf="(form.get('password')?.errors)!['mixtureNum']"
          >Your password isn't strong enough: a mixture of letters and numbers</small
        >
        <small *ngIf="(form.get('password')?.errors)!['inclusionSymbol']"
          >Your password isn't strong enough: inclusion of at least one special character, e.g., ! @
          # ?</small
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-field" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input
        #confirmPass
        readonly
        onfocus="removeAttribute('readonly')"
        matInput
        formControlName="confirmpassword"
        [type]="hideConfirmPass ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPass = !hideConfirmPass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPass"
      >
        <mat-icon>{{ hideConfirmPass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="form.get('confirmpassword')?.touched && form.get('confirmpassword')?.invalid"
      >
        <small *ngIf="(form.get('confirmpassword')?.errors)!['required']"
          >Please enter a password</small
        >
        <small
          *ngIf="
            (form.get('confirmpassword')?.errors)!['confirm'] &&
            !(form.get('confirmpassword')?.errors)!['required']
          "
          >Password don't match</small
        >
      </mat-error>
    </mat-form-field>
    <button
      class="signup-btn"
      type="submit"
      [disabled]="form.invalid"
      mat-stroked-button
      color="primary"
    >
      Sign up
    </button>
  </form>
</div>
