<div class="main-wrapper">

  <div class="board-header">

    <h1>BOARDS</h1>

    <mat-form-field class="example-full-width">
      <mat-label style="font-size: 1.5rem;">Board name</mat-label>
      <input #Iboard style="font-size: 1.5rem;" matInput placeholder="" value="">
    </mat-form-field>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="Iboard.value = ''">close</mat-icon>
    </button>

  </div>

</div>
<hr>

<router-outlet></router-outlet>


