<div class="form-container" *ngIf="service.isCreateColumn">
  <form class="form-body" [formGroup]="form" (ngSubmit)="createColumn(form)">
    <h2 class="form-title">{{ "board.column" | translate }}</h2>

    <mat-form-field class="title-field" appearance="fill">
      <mat-label>{{ "board.title-name" | translate }}</mat-label>
      <input matInput formControlName="title" autocomplete="off" />
      <mat-error *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
        <small *ngIf="(form.get('title')?.errors)!['required']">{{ "board.title" | translate }}</small>
      </mat-error>
    </mat-form-field>

    <div class="btn-container">
      <button
        class="form-btn"
        type="reset"
        mat-stroked-button
        color="primary"
        (click)="service.isCreateColumn = false; form.reset()"
      >
      {{ "board.cancel-btn" | translate }}
      </button>
      <button
        class="form-btn"
        type="submit"
        [disabled]="form.invalid"
        mat-stroked-button
        color="primary"
      >
      {{ "board.create-btn" | translate }}
      </button>
    </div>
  </form>
</div>
