<mat-card class="board-container" (click)="toTask($event, column)">
  <p class="board__title">{{ column.title }}</p>
  <p class="board__text">{{ column.title }}</p>
  <div class="board-btns">
    <button
      (click)="editTask(column.id!)"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon style="color: #3232eb">edit</mat-icon>
    </button>
    <button
      (click)="deleteTask(column.id!)"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon style="color: #bf0909">delete</mat-icon>
    </button>
  </div>
</mat-card>
