<mat-card class="board-container">
  <p class="board__title">{{ board.title | uppercase }}</p>
  <p class="board__text">{{ board.description }}</p>
  <div class="board-btns">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color: #3232eb">edit</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color: #bf0909">delete</mat-icon>
    </button>
  </div>
</mat-card>
