<section class="welcome-wrapper">
  <h2 class="welcom-title">Welcome to <span>Project Management Application</span></h2>
  <h4 >Bring your teammates to optimize the work process, <br> improve efficiency and bring your results to the new level!</h4>
  <div class="login-block">
    <mat-form-field class="name-inp" color="warn">
      <mat-label class="label">Your name</mat-label>
      <input matInput placeholder="Ex. Ivan..." >
    </mat-form-field>
    <button mat-stroked-button color="warn" [routerLink]="['/auth/signup']">Sing-up for free</button>
  </div>
</section>

