<footer class="footer">
    <div class="footer__container">
        <div class="footer__meta">
            <span class="footer__meta-text">© </span>
            <span class="footer__meta-text year">2022</span>
        </div>
        <div class="footer__team">
            <a class="footer__team-btn" href="https://github.com/AnatoliHaralchuk" target="_blank">
                <i class="fa-brands fa-github icon"></i> 
                <span class="name">Anatoli</span>
            </a>
            <a class="footer__team-btn" href="https://github.com/dimitrianderi" target="_blank">
                <i class="fa-brands fa-github icon"></i>
                <span class="name">Dmitry</span>
            </a>
            <a class="footer__team-btn" href="https://github.com/sthm23" target="_blank">
                <i class="fa-brands fa-github icon"></i>
                <span class="name">Sanjar</span>
            </a>
        </div>
        <div class="footer__logo">
            <img class="footer__logo-img" src="./../../../../assets/img/rss.svg" alt="rs_school">
        </div>
    </div>
</footer>