<div class="form-container">
  <form class="form-body" [formGroup]="form" (ngSubmit)="editColumn(form.value.title)">
    <mat-form-field class="title-field" appearance="fill">
      <mat-label>title</mat-label>
      <input type="text" matInput formControlName="title" autocomplete="off" />
      <mat-error *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
        <small *ngIf="(form.get('title')?.errors)!['required']">Please enter a title</small>
      </mat-error>
    </mat-form-field>

    <div class="btn-container">
      <button
        class="form-btn"
        type="reset"
        mat-stroked-button
        color="primary"
        (click)="isEdit.emit(false)"
      >
        Cancel
      </button>
      <button
        class="form-btn"
        type="submit"
        [disabled]="form.invalid"
        mat-stroked-button
        color="primary"
      >
        Edit
      </button>
    </div>
  </form>
</div>
